# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env


# --------- Explicitly installed packages/modules for this project ---------

# => For Front-end

# npm create vite@latest
# npm install -D tailwindcss postcss autoprefixer
# npx tailwindcss init -p
# npm i react-router-dom
# npm i @reduxjs/toolkit react-redux
# npm i redux-persist
# npm i firebase

# => For Back-end

# npm i express
# npm i nodemon
# npm i mongoose
# npm i dotenv
# npm i bcryptjs
# npm i jsonwebtoken
# npm i cors (cors means cross origin resource sharing)
# npm i cookie-parser
